*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
	max-width:1200px;
	margin:auto;
	font-size:20px;
}
.row{
	display:block;
	padding:0;
	font-size:0;
	text-align:center;
}
section{
	font-size:0px;
	width:calc(99.999% - 0.4em);
	display:inline-block;
	padding:0;
	margin:0;
	margin:0.2em;
	text-align:center;
}
section>p{
	padding:1em 0;
	margin:0;
	font-size:20px;
}
.s1{
	width:calc(8.333% - 0.4em);
}
.s2{
	width:calc(16.666% - 0.4em);
}
.s3{
	width:calc(24.999% - 0.4em);
}
.s4{
	width:calc(33.333% - 0.4em);
}
.s5{
	width:calc(41.666% - 0.4em);
}
.s6{
	width:calc(49.999% - 0.4em);
}
.s7{
	width:calc(58.333% - 0.4em);
}
.s8{
	width:calc(66.666% - 0.4em);
}
.s9{
	width:calc(74.999% - 0.4em);
}
.s10{
	width:calc(83.333% - 0.4em);
}
.s11{
	width:calc(91.666% - 0.4em);
}
.full{
	min-height:calc(100vh - 0.4em);
}
@media screen and (max-width: 550px) {
	.s2,.s3,.s3,.s4,.s5,.s6,.s6,.s7,.s8,.s9,.s10,.s11{
		width:calc(100% - 0.4em);
	}
	.s1{
		width:calc(50% - 0.4em);
	}
}
@media screen and (min-width: 551px) and (max-width:800px) {
	.s7,.s8,.s9,.s10,.s11{
	}
	.s4,.s5,.s6,.s2,.s3{
	}
	.s1{
	}
}
@media screen and (min-width: 801px) and (max-width:960px) {
	.s9,.s10,.s11,.s12{
	}
	.s5,.s6,.s7{
	}
	.s4{}
	.s8{}
}