html{
	background:#fcc;
}
body{
	background:#fee;
	margin-bottom:50vh;
}
section{
	background:#fff;
	outline:1px solid rgba(255,0,95,1);
	outline-offset:-1px;
}
section > h1, section > h2, section > h3{
	margin:0;
	font-size:48px;
	padding:0.4em 0;
	background:-webkit-linear-gradient(top, #c22, #c34);
	background:linear-gradient(to bottom,#c22,#c34);
	color:#fff;
	font-weight:normal;
}
section > h2{
	font-size:32px;
}
section > h3{
	font-size:20px;
}
body, section{
	font-family:'meiryo ui', tahoma, arial, sans-serif;
}
.overlay{
	position:fixed;
	display:block;
	z-index:10;
	bottom:0;
	width:100%;
	max-width:1200px;
}
label{
	font-size:20px;
	padding-right:20px;
}
input{
	margin:0;
	padding:0;
}
.overlay>section>p{
	background:#fff;
}